body {
    background-color: #343a40;
    color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

h1 {
    color: #f8f9fa;
}

.card {
    border: none;
    background-color: #495057;
    color: #f8f9fa;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-primary {
    background-color: rgb(218, 164, 63);
    border-color: #000000;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.btn-primary:hover {
    background-color: #c8235d;
    border-color: #bd2130;
}
